<!-- FOOTER -->

<footer class="container-fluid footer">
    <div class="row py-4 px-2 text-white text-center text-sm-left">
        <div class="col-sm-6 col-md-3">
            <h6 class="text-warning">CONTACTANOS</h6>
            <ul class="list-unstyled">
                <li class="small"><i class="fa fa-angle-double-right"></i><a class="text-decoration-none enlace" href="#">  hello@mallorcabowling.es</a></li>
                <li class="small"><i class="fa fa-angle-double-right"></i><a class="text-decoration-none enlace" href="#">  events@mallorcabowling.es</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h6 class="text-warning">LOCALIZACION</h6>
            <ul class="list-unstyled">
                <li class="small">Mallorca Bowling</li>
                <li class="small">Camí dels Reis, 211 Polígono Can Valero, Palma</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h6 class="text-warning">GANA PARTIDAS GRATIS</h6>
            <ul class="list-unstyled">
                <li class="small">Descárgate <a class="text-decoration-none enlace" href="#">nuetra APP</a> y sabrás como!</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h6 class="text-warning">REDES SOCIALES</h6>
            <ul class="list-unstyled">
                <li><a class="text-white text-decoration-none font-weight-bold" href="#"><i class="fab fa-instagram"></i><span class="small">&nbsp;&nbsp;Instagram</span></a></li>
                <li><a class="text-white text-decoration-none font-weight-bold" href="#"><i class="fab fa-facebook"></i><span class="small">&nbsp;&nbsp;Facebook</span></a></li>
                <li><a class="text-white text-decoration-none font-weight-bold" href="#"><i class="fab fa-twitter"></i><span class="small">&nbsp;&nbsp;Twitter</span></a></li>
            </ul>
        </div>
    </div>
</footer>